// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-name {
  margin: 10px 0;
}

ul.albums {
  padding: 0;
  list-style: none;
}

.album img {
  margin: 5px 0;
  width: 100px;
  vertical-align: middle;
}
